In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine, Column, Integer, String, Float, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship
import re

In [4]:
# Se Carga el archivo XLSX en un DataFrame
df = pd.read_excel(r'C:\Users\Alvaro\OneDrive\Documentos\Primer proyecto\codigo\Economia_Pereira\Data\Datos_Pereira_info.xlsx')

In [32]:
# Se establece la conexión a la base de datos MySQL
con = mysql.connector.connect(
    host='127.0.0.1',
    user='root',
    password='1004519044',
    database='pereira'
      
)

print(con)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002161B641AD0>

In [6]:
# Se crea una nueva base de datos
bd = 'pereira'
cursor = con.cursor()
cursor.execute(f"CREATE DATABASE {bd}")
cursor.close()

'bd = \'pereira\'\ncursor = con.cursor()\ncursor.execute(f"CREATE DATABASE {bd}")\ncursor.close()'

In [7]:
# Se conecta a la nueva base de datos
con.database = bd

'con.database = bd'

Se crean las tablas requeridas

In [35]:
# Crear una nueva tabla con las columnas requeridas
cursor = con.cursor()
cursor.execute("""
    CREATE TABLE datos (
        Entidad VARCHAR(235),
        Dimensión VARCHAR(235),
        Subcategoría VARCHAR(235),
        Indicador VARCHAR(255),
        `Dato Numérico` FLOAT,
        `Dato Cualitativo` VARCHAR(225),
        Año YEAR,
        Mes TINYINT,
        Fuente VARCHAR(255),
        `Unidad de Medida` VARCHAR(255)
    )
""")

In [5]:
try:

    # Crear la tabla 'Año'
    create_table_query = """
    CREATE TABLE IF NOT EXISTS `year` (
        `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        `año` YEAR NOT NULL UNIQUE
    );
    """
    # Crear la tabla 'Año'
    with con.cursor() as cursor:
        cursor.execute(create_table_query)
    con.commit()
        
except mysql.connector.Error as err:
    print("Error en la operación:", err)

finally:
    # Cerrar la conexión a la base de datos
    con.close()

Error en la operación: 1292 (22007): Incorrect datetime value: '2017'

In [9]:
try:
    # Crear la tabla 'Genero'
    create_table_query = """
    CREATE TABLE `Genero` (
        `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        `genero` VARCHAR(45) NOT NULL UNIQUE
    );
    """
    # Crear la tabla 'Genero'
    with con.cursor() as cursor:
        cursor.execute(create_table_query)
    con.commit()

    # Insertar valores en la tabla 'Genero'
    insert_values_query = """
    INSERT INTO `Genero` (`genero`)
    VALUES ('Hombre'), ('Mujer'), ('Poblacion');
    """
    with con.cursor() as cursor:
        cursor.execute(insert_values_query)
    con.commit()

except mysql.connector.Error as err:
    print("Error en la operación:", err)

finally:
    # Cerrar la conexión a la base de datos
    con.close()

In [33]:
try:
    # Crear la tabla 'unidad de medida'
    create_table_query = """
    CREATE TABLE `Unidad_medida` (
        `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        `unidad` VARCHAR(255) UNIQUE
    );
    """
    # Crear la tabla 'unidad_media'
    with con.cursor() as cursor:
        cursor.execute(create_table_query)
    con.commit()

except mysql.connector.Error as err:
    print("Error en la operación:", err)

finally:
    # Cerrar la conexión a la base de datos
    con.close()

In [14]:

try:
    # Crear la tabla 'Indicadores'
    create_table_query = """
    CREATE TABLE `Indicadores` (
        `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        `indicador` VARCHAR(235) NOT NULL UNIQUE,
        `valor` FLOAT NOT NULL,
        `year_id` INT NOT NULL,
        `genero_id` INT 
    );
    """
    # Crear la tabla 'Indicadores'
    with con.cursor() as cursor:
        cursor.execute(create_table_query)
    con.commit()

except mysql.connector.Error as err:
    print("Error en la operación:", err)

finally:
    # Cerrar la conexión a la base de datos
    con.close()

In [10]:
# Configurar la conexión a la base de datos
engine = create_engine('mysql+mysqlconnector://root:1004519044@localhost/pereira')
Base = declarative_base()
Session = sessionmaker(bind=engine)
session = Session()

C:\Users\Alvaro\AppData\Local\Temp\ipykernel_9304\3027233171.py:3: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

De all_data se agregan los años a la tabla datos para posteriormente relacionarla con la tabla indicadores

In [31]:
# Definir la clase para la tabla 'all_data'
class AllData(Base):
    __tablename__ = 'all_data'
    id = Column(Integer, primary_key=True)
    Año = Column(Integer)

# Definir la clase para la tabla 'year'
class Year(Base):
    __tablename__ = 'year'
    id = Column(Integer, primary_key=True)
    año = Column(Integer, unique=True)

try:
    # Consulta para transferir los años desde 'all_data' a 'year'
    transfer_query = session.query(AllData.Año).distinct(AllData.Año).order_by(AllData.Año)

    # Insertar los años en la tabla 'year'
    for año in transfer_query:
        year_data = Year(año=año[0])
        session.add(year_data)
    
    # Confirmar la transacción
    session.commit()

except Exception as e:
    print("Error en la operación:", e)

finally:
    # Cerrar la sesión
    session.close()

C:\Users\Alvaro\AppData\Local\Temp\ipykernel_11356\3581429405.py:18: SADeprecationWarning: DISTINCT ON is currently supported only by the PostgreSQL dialect.  Use of DISTINCT ON for other backends is currently silently ignored, however this usage is deprecated, and will raise CompileError in a future release for all backends that do not support this syntax.
  for año in transfer_query:

De all_data se agraga a la tabla indicadores los datos numericos, los nombres de los indicadores y el id correspondiente al año de la tabla year

In [47]:
# Definir la clase para la tabla 'all_data'
class AllData(Base):
    __tablename__ = 'all_data'
    id = Column(Integer, primary_key=True)
    Año = Column(Integer)
    Indicador = Column(String(235))
    Dato_numérico = Column(Float)

# Definir la clase para la tabla 'Year'
class Year(Base):
    __tablename__ = 'year'
    id = Column(Integer, primary_key=True)
    año = Column(Integer, unique=True)

# Definir la clase para la tabla 'Indicador'
class Indicador(Base):
    __tablename__ = 'indicadores'
    id = Column(Integer, primary_key=True)
    Indicador = Column(String(235))
    valor = Column(Float)
    year_id = Column(Integer, ForeignKey('year.id'))
    year = relationship(Year)

try:
    # Consulta para transferir los datos desde 'all_data' a 'Indicador'
    transfer_query = session.query(AllData.Indicador, AllData.Dato_numérico, AllData.Año).order_by(AllData.Año)

    # Insertar los datos en la tabla 'Indicador'
    for indicador, dato_numérico, año in transfer_query:
        # Consulta para obtener el año_id correspondiente de la tabla 'year'
        year_id_query = session.query(Year.id).filter(Year.año == año).first()

        # Insertar el registro en la tabla 'Indicador'
        indicador_data = Indicador(Indicador=indicador, valor=dato_numérico, year_id=year_id_query[0])
        session.add(indicador_data)

    # Confirmar la transacción
    session.commit()

except Exception as e:
    print("Error en la operación:", e)

finally:
    # Cerrar la sesión
    session.close()

De all_data se agregan los datos unicos de la columna unidad de medida a la tabla unidad medida

In [49]:
# Definir la clase para la tabla 'all_data'
class AllData(Base):
    __tablename__ = 'all_data'
    id = Column(Integer, primary_key=True)
    Unidad_de_Medida = Column(String(255))

# Definir la clase para la tabla 'unidad_medida'
class UnidadMedida(Base):
    __tablename__ = 'unidad_medida'
    id = Column(Integer, primary_key=True)
    unidad = Column(String(255), unique=True)

try:
    # Consulta para transferir los datos desde 'all_data' a 'unidad_medida'
    transfer_query = session.query(AllData.Unidad_de_Medida).distinct(AllData.Unidad_de_Medida).order_by(AllData.Unidad_de_Medida)

    # Insertar los años en la tabla 'year'
    for unidad in transfer_query:
        unidad_data = UnidadMedida(unidad=unidad[0])
        session.add(unidad_data)
    
    # Confirmar la transacción
    session.commit()

except Exception as e:
    print("Error en la operación:", e)

finally:
    # Cerrar la sesión
    session.close()

C:\Users\Alvaro\AppData\Local\Temp\ipykernel_11356\3887992005.py:18: SADeprecationWarning: DISTINCT ON is currently supported only by the PostgreSQL dialect.  Use of DISTINCT ON for other backends is currently silently ignored, however this usage is deprecated, and will raise CompileError in a future release for all backends that do not support this syntax.
  for unidad in transfer_query:

In [ ]:
try:
    # Consulta para transferir los datos desde 'all_data' a 'Indicador'
    with session.no_autoflush:
        transfer_query = session.query(AllData)

        # Insertar los datos en la tabla 'Indicador'
        for data in transfer_query:
            # Consulta para obtener la unidad_id correspondiente de la tabla 'unidad_medida'
            unidad_id_query = session.query(UnidadMedida.id).filter(UnidadMedida.unidad == data.Unidad_de_Medida).first()

            # Si no se encuentra una correspondencia en la tabla 'unidad_medida', unidad_id_query será None
            if unidad_id_query is not None:
                unidad_id = unidad_id_query[0]
            else:
                # Si no se encontró una correspondencia, establecemos unidad_id como None
                unidad_id = None

            # Consulta para obtener el registro en la tabla 'Indicador' por su id
            indicador_data = session.query(Indicador).filter(Indicador.id == data.id).first()

            # Actualizar el registro en la tabla 'Indicador' con el valor de 'unidad_id'
            indicador_data.unidad_id = unidad_id

Se agrega el id correspondiente de la tabla unidad_medida a la tabla indicadores en unidad_id

In [73]:
# Definir la clase para la tabla 'all_data'
class AllData(Base):
    __tablename__ = 'all_data'
    id = Column(Integer, primary_key=True)
    Año = Column(Integer)
    Indicador = Column(String(235))
    Dato_numérico = Column(Float)
    Unidad_de_Medida = Column(String(255))

# Definir la clase para la tabla 'Unidad_Medida'
class UnidadMedida(Base):
    __tablename__ = 'unidad_medida'
    id = Column(Integer, primary_key=True)
    unidad = Column(String(255), unique=True)

# Definir la clase para la tabla 'Year'
class Year(Base):
    __tablename__ = 'year'
    id = Column(Integer, primary_key=True)
    año = Column(Integer, unique=True)

# Definir la clase para la tabla 'Indicador'
class Indicador(Base):
    __tablename__ = 'indicadores'
    id = Column(Integer, primary_key=True)
    Indicador = Column(String(235))
    valor = Column(Float)
    year_id = Column(Integer, ForeignKey('year.id'))
    year = relationship(Year)
    unidad_id = Column(Integer, ForeignKey('unidad_medida.id'))
    unidad = relationship(UnidadMedida)
try:
    # Consulta para transferir los datos desde 'all_data' a 'Indicador'
    with session.no_autoflush:
        transfer_query = session.query(AllData.Indicador, AllData.Dato_numérico, AllData.Año, AllData.Unidad_de_Medida).order_by(AllData.Año)

        # Insertar los datos en la tabla 'Indicador'
        for indicador, dato_numérico, año, unidad_de_medida in transfer_query:
            # Consulta para obtener el año_id correspondiente de la tabla 'year'
            year_id_query = session.query(Year.id).filter(Year.año == año).first()
            # Consulta para obtener la unidad_id correspondiente de la tabla 'unidad_medida'
            unidad_id_query = session.query(UnidadMedida.id).filter(UnidadMedida.unidad == unidad_de_medida).first()

            # Si no se encuentra una correspondencia en la tabla 'unidad_medida', unidad_id_query será None
            if unidad_id_query is not None:
                unidad_id = unidad_id_query[0]
            else:
                # Si no se encontró una correspondencia, establecemos unidad_id como None
                unidad_id = None

             # Insertar el registro en la tabla 'Indicador'
            indicador_data = Indicador(Indicador=indicador, valor=dato_numérico, year_id=year_id_query[0], unidad_id=unidad_id)
            session.add(indicador_data)
       
    # Confirmar la transacción
    session.commit()

except Exception as e:
    print("Error en la operación:", e)

finally:
    # Cerrar la sesión
    session.close()

Se busca las palabras h/Hombre(s) o m/Mujere(s) en las columnas indicador y unidad_de_medida de all_data para asignarle los valores 1 o 2 y agregarlos a la tabla indicadores en la columna genero_id. por ultimo se relacionan las tablas

In [11]:
# Definir la clase para la tabla 'all_data'
class AllData(Base):
    __tablename__ = 'all_data'
    id = Column(Integer, primary_key=True)
    Año = Column(Integer)
    Indicador = Column(String(235))
    Dato_numérico = Column(Float)
    Unidad_de_Medida = Column(String(255))

# Definir la clase para la tabla 'Unidad_Medida'
class UnidadMedida(Base):
    __tablename__ = 'unidad_medida'
    id = Column(Integer, primary_key=True)
    unidad = Column(String(255), unique=True)

# Definir la clase para la tabla 'Year'
class Year(Base):
    __tablename__ = 'year'
    id = Column(Integer, primary_key=True)
    año = Column(Integer, unique=True)

# Definir la clase para la tabla 'Indicador'
class Indicador(Base):
    __tablename__ = 'indicadores'
    id = Column(Integer, primary_key=True)
    Indicador = Column(String(235))
    valor = Column(Float)
    year_id = Column(Integer, ForeignKey('year.id'))
    year = relationship(Year)
    unidad_id = Column(Integer, ForeignKey('unidad_medida.id'))
    unidad = relationship(UnidadMedida)
    genero_id = Column(Integer)  # Agregar la columna genero_id

try:
    # Consulta para transferir los datos desde 'all_data' a 'Indicador'
    with session.no_autoflush:
        transfer_query = session.query(AllData.Indicador, AllData.Dato_numérico, AllData.Año, AllData.Unidad_de_Medida).order_by(AllData.Año)

        # Insertar los datos en la tabla 'Indicador'
        for indicador, dato_numérico, año, unidad_de_medida in transfer_query:
            # Consulta para obtener el año_id correspondiente de la tabla 'year'
            year_id_query = session.query(Year.id).filter(Year.año == año).first()
            # Consulta para obtener la unidad_id correspondiente de la tabla 'unidad_medida'
            unidad_id_query = session.query(UnidadMedida.id).filter(UnidadMedida.unidad == unidad_de_medida).first()

            # Si no se encuentra una correspondencia en la tabla 'unidad_medida', unidad_id_query será None
            if unidad_id_query is not None:
                unidad_id = unidad_id_query[0]
            else:
                # Si no se encontró una correspondencia, establecemos unidad_id como None
                unidad_id = None

             # Aquí podemos agregar la lógica para verificar la palabra "hombre" o "mujer" en indicador o unidad_de_medida
            if indicador is not None and re.search(r'\bhombre(s)?\b', indicador, re.IGNORECASE) or \
               unidad_de_medida is not None and re.search(r'\bhombre(s)?\b', unidad_de_medida, re.IGNORECASE):
                genero_id = 1

            elif indicador is not None and re.search(r'\bmujer(es)?\b', indicador, re.IGNORECASE) or \
                 unidad_de_medida is not None and re.search(r'\bmujer(es)?\b', unidad_de_medida, re.IGNORECASE):
                genero_id = 2
                
            else:
                genero_id = None

            # Insertar el registro en la tabla 'Indicador'
            indicador_data = Indicador(Indicador=indicador, valor=dato_numérico, year_id=year_id_query[0], unidad_id=unidad_id, genero_id=genero_id)
            session.add(indicador_data)
       
    # Confirmar la transacción
    session.commit()

except Exception as e:
    print("Error en la operación:", e)

finally:
    # Cerrar la sesión
    session.close()